.code__adresse {
    margin: 10px;
    padding:10px;
    border-left: 4px solid #005;
    background-color: rgb(237, 232, 96);

}

.boite__modale{
    background-image: linear-gradient(30deg, rgb(237, 232, 96), rgb(241, 167, 63));
    position: fixed;
    display: flex;
    min-width: 200px;
    width : 50vw;
    height : 50vh;
    top : 25vh;
    left : 25vw;
    transform: scale(0);
    opacity: 0;
    border-radius: 8px;
    transition: transform 1s, opacity 1s;
    justify-content: center;
    align-items: center;
}

.boite__modale__ouvrir{
    transform: scale(1);
    opacity: 1;
}

.boite__X,
.boite__X:hover{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    background-color: inherit;
    margin-left: auto;
}

.message {
    text-align: center;
    justify-self: baseline;
}

.dark {
    background-color: rgb(0, 0, 0);
    opacity: .8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: opacity 1s, background-color 1s;
}

.conteneur__message{
    align-items: center;
    padding: 25px;
    color: rgb(42, 12, 153);   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    text-shadow: 1px 1px 3px rgb(75, 74, 74);

}

svg:hover {
    fill: red;
}